* {
  list-style-type: none;
  font-family: "IBM Plex Sans KR", sans-serif;
}
#one {
  color: blue;
}
#two {
  color: violet;
}
a {
  color: blue;
}
.menu {
  color: darkcyan;
}
.font-test {
  color: darkcyan;
  font-size: 80px;
  font-weight: bolder;
  text-align: center;
}
.box {
  height: 150px;
  width: 150px;
  border: 1px solid red;
  background-color: aqua;
  border-radius: 40% 60% 40% 50%;
}
.upgrade {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: gray;
  color: white;
}
.newbox {
  border: 1px solid black;
  color: white;

  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 100px;
  margin-right: 100px;

  background-color: gray;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-bottom: 10px;
  text-align: center;
}
.autobox {
  height: 200px;
  width: 200px;
  border: 1px solid black;
}
.l1 {
  margin-left: auto;
}
.l2 {
  margin-right: auto;
}
.l3 {
  margin: 0 auto;
}
.container {
  color: red;
  border: 5px solid grey;
  background-image: url("../image/argyle-909253__340.webp");
  background-repeat: repeat;
}
.box1 {
  border: 1px solid black;
  width: 50%;
  background-color: darkgrey;
}
.backbox {
  width: 150px;
  height: 150px;
  border: 1px black;
  background-image: url("../image/2871771cb13821.jpeg");
  background-size: cover;
  margin: 0 auto;
  border-radius: 50% 50% 50% 50%;
}

.shadowbox {
  border: 1px solid black;
  height: 200px;
  width: 200px;
  box-shadow: 0px 0px 15px 5px blue;
}

button {
  width: 30%;
}

.flexcontainer {
  border: 5px solid black;
  height: 1000px;
  width: 1000px;
  display: flex;
  flex-direction: column;
}

.flexheader,
.flexfooter,
.flexnav,
.flexcontentbox {
  border: 2px solid gray;
  flex: 1;
}

.flexbody {
  flex: 5;

  display: flex;
  flex-direction: row;
}

.flexcontent {
  border: 2px solid gray;
  flex: 5;

  display: flex;
  flex-direction: column;
}

.flextorow {
  display: flex;
  flex-direction: row;
}
